.bg-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
form {
  backdrop-filter: blur(50px);
  width: 40%;
}
@media (max-width:767px){
    form {
      
        width: 80%;
      }
}

/* From Uiverse.io by Yaya12085 */ 

button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  margin:5px auto;
}

.button svg {
  height: 24px;
}

.button:hover {
  transform: scale(1.02);
}
.submit{
  max-width: 320px;
  height: 40px;
  border: 0;
  background: #115DFC;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
}